extends layout.pug
include ./includes/errors.pug
include ./includes/form-inputs.pug
block content
    +userError()
    form(action="/create-interesting" method="post")
        +createUser()
        label Age
        input(type="number" name="age" value=age)
        label Favorite Beatle
        select(name="favoriteBeatle")
            option(value="") --Please choose an option--
            option(value="John") John
            option(value="Paul") Paul
            option(value="Ringo") Ringo
            option(value="George") George
            option(value="Scooby-Doo") Scooby-Doo
        label Ice Cream
        input(type="checkbox" name="iceCream" value=iceCream)
        input(type="submit" value="Create Interesting User")
