extends layout.pug
include ./includes/errors.pug
include ./includes/form-inputs.pug
block content
    +userError()
    form(action="/create" method="post")
        +createUser()
        input(type="submit" value="Create User")
